.medium {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.medium img {
  width: 100%;
  height: auto;
}

.medium button {
  position: absolute;
  height: 15%;
  width: 15%;
  top: 7.5%;
  left: 92.5%;
  transform: translate(-50%, -50%);
  background: rgba(255,255,255,0.5);
}


.overlay-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0;
}

.overlay-icon {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: scale-down;
  opacity: 0.0;
  background-color: rgba(255, 255, 255, 0.5)
}

.overlay-container:hover { 
  opacity: 0.5;
  cursor: pointer;
}

.overlay-container:hover .overlay-icon { 
  opacity: 1.0;
  cursor: pointer;
}
